// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------

/*=========================
Adding flexible grid system
based on col-# class
==========================*/

// -# {$i} # sighn will replase by i variable (in sass it's $i)
//and will == to number which we will write in .col-#
// after this it will take width of 100%/12 == selected number

//it's what a code below whill do
/* .col-1 {
  width: 8.33333%;
};
.col-2 {
  width: 16.66667%;
};
...
.col-12 {
  width: 100%;
}; */  

//for all screen
@for $i from 1 through 12 {
	  .col-#{$i} { width: 100%/12 * $i; }
	};	
	
// for screen less then 576 px 
@media screen and (max-width: $xs) {
	@for $i from 1 through 12 {
	  .col-xs-#{$i} { width: 100%/12 * $i; }
	};	
};

//for screen 576px < i < 768px
@media screen and (min-width: $sm) {
	@for $i from 1 through 12 {
	  .col-sm-#{$i} { width: 100%/12 * $i; }
	};	
};

//for screen 768px < i < 992px
@media screen and (min-width: $md) {
	@for $i from 1 through 12 {
	  .col-md-#{$i} { width: 100%/12 * $i; }
	};	
};

//for screen 992px < i < 1200px
@media screen and (min-width: $lg) {
	@for $i from 1 through 12 {
	  .col-lg-#{$i} { width: 100%/12 * $i; }
	};	
};

//for screen 1200px < i 
@media screen and (min-width: $xl) {
	@for $i from 1 through 12 {
	  .col-xl-#{$i} { width: 100%/12 * $i; }
	};	
};
// end of media


/*///////////////

Not my functions below

/////////////*/



/// Native `url(..)` function wrapper
/// @param {String} $base - base URL for the asset
/// @param {String} $type - asset type folder (e.g. `fonts/`)
/// @param {String} $path - asset path
/// @return {Url}
@function asset($base, $type, $path) {
  @return url($base + $type + $path);
}

/// Returns URL to an image based on its path
/// @param {String} $path - image path
/// @param {String} $base [$base-url] - base URL
/// @return {Url}
/// @require $base-url
@function image($path, $base: $base-url) {
  @return asset($base, 'images/', $path);
}

/// Returns URL to a font based on its path
/// @param {String} $path - font path
/// @param {String} $base [$base-url] - base URL
/// @return {Url}
/// @require $base-url
@function font($path, $base: $base-url) {
  @return asset($base, 'fonts/', $path);
}
