/*=========================
Adding flexible grid system
based on col-# class
==========================*/

// -# {$i} # sighn will replase by i variable (in sass it's $i)
//and will == to number which we will write in .col-#
// after this it will take width of 100%/12 == selected number

//it's what a code below whill do
/* .col-1 {
  width: 8.33333%;
};
.col-2 {
  width: 16.66667%;
};
...
.col-12 {
  width: 100%;
}; */  

// for screen less then 576 px 
@media screen and (max-width: $xs) {
	@for $i from 1 through 12 {
	  .col-xs-#{$i} { width: 100%/12 * $i; }
	};	
};

//for screen 576px < i < 768px
@media screen and (min-width: $sm) {
	@for $i from 1 through 12 {
	  .col-sm-#{$i} { width: 100%/12 * $i; }
	};	
};

//for screen 768px < i < 992px
@media screen and (min-width: $md) {
	@for $i from 1 through 12 {
	  .col-md-#{$i} { width: 100%/12 * $i; }
	};	
};

//for screen 992px < i < 1200px
@media screen and (min-width: $lg) {
	@for $i from 1 through 12 {
	  .col-lg-#{$i} { width: 100%/12 * $i; }
	};	
};

//for screen 1200px < i 
@media screen and (min-width: $xl) {
	@for $i from 1 through 12 {
	  .col-xl-#{$i} { width: 100%/12 * $i; }
	};	
};
// end of media
   