////Colors var

$dark-grey: rgb(69,74,84);
$light-red: rgb(178,51,44);

////end of colors var

////Breakpoints var
///

$xs : 575.99px;
$sm : 576px;
$md : 768px;
$lg : 992px;
$xl : 1200px;

///
//// end of breakpoint var