// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


/// Footer navigation in nav.scss
#footer {
	border-top: 1px solid $light-grey;
	margin-top: .5rem;
}

.social {
	text-align: center;
	&-link {
		padding: .2rem;
	}
}

.copyraight {
	text-align: center;
}