// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
	//basic style of header
	background: $dark-grey url("../../img/home_bg/japan_hot_springs_1280x853.png") center no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;

	h1 {
		text-align: center;
		transform: translateY(15rem);
	}	
	
	.header_togglers {
		width: 100%;
		height: auto;
		background-color: $dark-grey;
		position: absolute;
		bottom: 0;		
	}
}

//////Overall nav positioning
.header-top {
		background-color: $dark-grey;
		border-bottom: 1px solid $light-grey;
	}

.logo {
	margin: 0 auto;
	margin-top: .1rem;
	margin-bottom: .1rem;
}
	
.navbar {
	position: absolute;
	top: 4.03rem;
	right: 0;
	background-color: $dark-grey;
	border-left: 1px solid $light-grey;
	border-right: 1px solid $light-grey;
	border-bottom: 1px solid $light-grey;
}

//humburger menu
.menu-toggle {
	width: 1rem;
	height: 1rem;
	position: absolute;
	top: 1.8rem;
	right: 1.5rem;
	cursor: pointer;
}





