/*=======================
HOME PAGE MAIN CONTENT  
=======================*/

////////About section styles
///////Positioning colors fonts etc
.about {
	background-color: $light-grey;

	.row {
		flex-direction: column;
	}
	
	.about-content--heading {
		padding-top: 1rem;
		text-align: center;		//// centering text
		border-bottom: 2px solid $dark-grey;
		
	}

	.about-content--text {
		text-align: justify; //// default alining of text
		padding: 1rem; ////////// create some space around text
	}

	#about-2 {
		background-color: $dark-late-gray;//// change bg of second subsection
	}

}
//End of about section

 
////Style of home page
//// Events section
//// Have little bug when width of screen are changing 
.events {
	margin-top: 2rem; //// indent from top
}

.events-item {
	position: relative; // making position relative for change positioning of content
	margin-bottom: 0; /// remove margin between items

	&--img {
		position: relative; ///// in order z-index to work we need position relative
		z-index: -1; //// now our content always will be visible
		margin-bottom: -.2rem;
	}
	&--heading,  {		
		position: absolute;/////////this lines of code positioning heding of card
		top: 10%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		opacity: .9;
	}

	&--text {
	position: absolute; ////// and this lines positioning text
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	}

	&--btn {
		position: absolute; ////// and this do same for button "More"
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

//placing "LOAD MORE" button
.more {
	padding: 1rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
	#loadMore-btn {
		display: block;
		margin: 0 auto;
	}
}


/////Hiding second row of events section/////

/* .events-row2--hidenn {
	display:none;
	}

.events-row2--showed {
	display: block;
}	 
 */

/*============
Home page end 
============*/

