#events-item1 {
  background: url("../../img/culture_img_video/golden-temple_640x426.png") center no-repeat;
  background-size: cover; }

#events-item2 {
  background: url("../../img/culture_img_video/red-lanterns_640x426.png") center no-repeat;
  background-size: cover; }

#events-item3 {
  background: url("../../img/culture_img_video/tea_640x426.png") center no-repeat;
  background-size: cover; }

#events-item4 {
  background: url("../../img/culture_img_video/red-lanterns_640x426.png") center no-repeat;
  background-size: cover; }

#events-item5 {
  background: url("../../img/culture_img_video/golden-temple_640x426.png") center no-repeat;
  background-size: cover; }

#events-item6 {
  background: url("../../img/culture_img_video/red-lanterns_640x426.png") center no-repeat;
  background-size: cover; }


