// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
	background: none;
	font-weight: 700; 
	color: #FFF;
	@include border (2px, solid, $light-grey, 0);
	&:active {
		color: $light-red;
	}
}

//placement of header bottom line of buttons
.header_togglers {
	button {
		border: none;
		background: $light-grey;
		padding: .2rem;
	}
	#arrowDown-btn {
		float: right;
	} 	
}

.events-item--btn {
	padding: .5rem;
}
///button below load more of culture content
#loadMore-btn {
	padding: .3rem;
	text-transform: uppercase;
}

