.hamburger,
.hamburger::before,
.hamburger::after {
	content: '';
  	display: block;
  	background: #fff;
  	height: 3px;
  	width: 1.75em;
  	border-radius: 3px;
}

.hamburger::before {
	transform: translateY(-6px);
}

.hamburger::after {
	transform: translateY(3px);
}

.open .hamburger {
	transform: rotate(45deg);
}	

.open .hamburger::before {
	opacity: 0;
}

.open .hamburger::after {
	transform: translateY(-3px) rotate(-90deg);
}