//placement of header bottom line of buttons

.header_togglers {
	button {
		border: none;
		background: $light-grey;
		padding: .2rem;
	}
	#arrowDown-btn {
		float: right;
	} 	
}

//styles must be moved to different file

