
/////Main navigation styles

.navbar {
	position: absolute; 					////// Making nav sticking to top right 
	top: 100%;								//////	by this lines					
	right: 0%;								///// and this.
	background-color: $dark-grey;
	border-left: 1px solid $light-grey;		///// Creat frame 
	border-right: 1px solid $light-grey;	///// around nav  
	border-bottom: 1px solid $light-grey;	///// like this it's prettier.
	clip-path: circle(0px at top right);	///// This line hidde navigation on 
	transition: clip-path ease-in-out 700ms;///// mobile version and next stroke 
											///// make animation more smooth.
}											

////////////////////////
/////Create class which
/////will be active
/////after humburger
/////menu will be toggled
/////and navigation will 
/////appear
////////////////////////
.navbar--open {
	clip-path: circle(250% at top right);	/////With this stroke nav will appear 
											/////like from circle 
}

.nav {
	margin: 0;	///// Remove margin and padding of ul			
	padding: 0;	///// in order to shrink it 
}
	
.nav-item {
	margin: 1rem; ///// without that navigation will shrink
	font-size: 1.2em;
	border-bottom: 1px solid $light-grey; 
	text-align: center;
}

.nav-link {
	padding: .4rem;
}


////////////////
//Humburger button styles
////////////////

//Positioning of humburger container
.menu-toggle {
	width: 1rem;
	height: 1rem;
	position: absolute;
	top: 1.8rem;
	right: 1.5rem;
	cursor: pointer;
}

//////////
//Humburger
/////////

.hamburger,
.hamburger::before,
.hamburger::after {
	content: ''; ///// in order to styling it like 3 stroke button it must be empty
  	display: block; ///// without that our humburger button don't appear
  	background: #fff;
  	height: 3px;
  	width: 1.75em;
  	border-radius: 3px;
}

.hamburger::before {
	transform: translateY(-6px); ///// upper stroke
}

.hamburger::after {
	transform: translateY(3px); ///// bottom storke
}

.open .hamburger {
	transform: rotate(45deg); ////// when main strike rotate to 45deg when clicked
}	

.open .hamburger::before { 
	opacity: 0;				///// upper stroke desapear after clicked
}

.open .hamburger::after {
	transform: translateY(-3px) rotate(-90deg); //// bottom will rotate
												//// and chenge position 
}


/*========================
	MEDIA 
=======================*/

///// styling tables and fullscreen navigation 769 px
@media screen and (min-width: $md) {
	////Our navbar wrapped by row
	//// actualy dont now WHY i do this fing
	////maybe for tablet and desktop adaptation
	//// work from time to time on this project
	//// and flow of thinks are literally broken
	//// Must to line header in row on tablets and 
	//// desktop
	////Maybe it's was a reason for .row in that case
	.header-top {
		//// and by line belowe we done our row thing
		.row {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.menu-toggle {
		display: none;
	}


	.navbar {
		position: relative;
		clip-path: initial;
		border: none;
		margin-right: 1rem;
	}

	.nav {
		display: flex;
	}

	.nav-item {
		border: none;
	}

	
}

/// for 1200 px minor styling changes 

@media screen and (min-width: $xl)	{
	.header-top {
		.row {
			justify-content: space-around;
		}
	}
}