////making fluid typography

html {
	font-size: 16px;
}

@media screen and (min-width: 320px) {
	html {
		font-size: calc(12px + 4 * ((100vw - 320px) / ($xl - 320px)));
	}
}

@media screen and (min-width: $xl) {
	html {
		font-size: 16px;
	}
}

/// end of fluid typography

html {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #fff;
}

a {
	color: #fff;
	
	&:hover {
		color: $light-red;
	}
}

h1 {
	font-size: 2.3rem;
	& span {
		font-size: .8em;
	}
}

h4 {
	font-size: 1.1em;
}