//=================================
// On this page will be unic styles
// Deals page
//=================================

///// Dealing with positioning of carsd/////

.deals-main { 
	margin-top: 2rem;//// Intend from header
	margin-bottom: 2rem;//// Intend from footer
	
	&--heading {
		text-align: center;///// positioning and styles of page heading
		margin-bottom: 2rem;
		text-transform: capitalize; //// Each First Latter Of Words Are Capitral
	}
}


#deals-card--row1, #deals-card--row2 {
	display: flex;
	flex-direction: column; //// forming oneeeee big column on mobile devices 
	flex-wrap: no-wrap;
} 

.deals-card {
	background-color: $light-grey;
	color: $silver;
	border-radius: 2%;
	margin: 0 auto; //// centering cards
	margin-right: .2rem;
	margin-bottom: .3rem; /// little intend between cards
		
		&--heading {
			text-align: center;
			h4 {
				margin-bottom: -.5rem; //// reduse margin betweeb h4 and p tags of cards
				text-transform: uppercase;
			}
		}

		&--img {
		opacity: .8;
		}	
		
		&--btn {
			display: block;  //// styling buttons
			margin: 0 auto;
			margin-top: .5rem;
			margin-bottom: .5rem;
			border-color: $dark-grey;
		}
	}
 

/////Positioning Submit form/////
#newsletter {
	
	.row {
		justify-content: center;
	}

	.heading {
		text-align: center;
		text-transform: capitalize;
	}

	.email {
		border: 3px solid $light-grey;
		border-radius: 10%;
		margin-top: .5rem;
		margin-right: .5rem;
		margin-bottom: .5rem;
	}

	.submit {
		padding: .5rem;
	}

}

///// End of positioning/////

//==================
//		MEDIA
//==================

@media screen and (min-width: $lg) {

	.deals-main {
		.row {
			flex-wrap: wrap;
		}
	}

	#deals-card--row1, #deals-card--row2 {
		flex-direction: row;
	}
	
	.deals-card {
		margin-right: .5rem;
		margin-bottom: .5rem;
	}
	

}