//=================================
// On this page will be unic styles
// Deals page
//=================================

///// Dealing with positioning of carsd/////

.deals-main { 
	margin-top: 2rem;//// Intend from header
	margin-bottom: 2rem;//// Intend from footer
	
	&--heading {
		text-align: center;///// positioning and styles of page heading
		margin-bottom: 2rem;
		text-transform: capitalize; //// Each First Latter Of Words Are Capitral
	}
}

.row {
	flex-direction: column; //// forming oneeeee big column on mobile devices 
	
	.deals-card {
		background-color: $light-grey;
		color: $silver;
		border-radius: 2%;
		margin: 0 auto; //// centering cards
		margin-bottom: .3rem; /// little intend between cards
		
		&--heading {
			text-align: center;
			h4 {
				margin-bottom: -.5rem; //// reduse margin betweeb h4 and p tags of cards
				text-transform: uppercase;
			}
		}

		&--img {
		opacity: .8;
		}	
		
		&--btn {
			display: block;  //// styling buttons
			margin: 0 auto;
			margin-top: .5rem;
			margin-bottom: .5rem;
			border-color: $dark-grey;
		}
	}
} 

/////Positioning Submit form/////
#newsletter {
	.heading {
		text-align: center;
		text-transform: capitalize;
	}

	.email, .submit {
		margin: 0 auto;
	}

	.email {
		margin-bottom: 1rem;
	}

	.submit {
		padding: .3rem;
	}

}

///// End of positioning/////

